@import '~bootstrap/scss/bootstrap';

$black: #000;

.sign-up {
  border: 3px solid $black;
  margin: 20px;
  padding: 20px;
}
.box {
  align-items: center;
  background-color: blue;
  border: 1px solid $black;
  color: black;
  display: flex;
  height: 80px;
  width: 80px;
  justify-content: center;
}
